@{
    ViewBag.Title = "Joshua Fairchild";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="landing-container">
    <h1 id="landing-name">JOSHUA FAIRCHILD</h1>
    <h3 id="landing-subtitle">Full-stack Web Developer</h3>
</div>