body {
    background-color: #D8E9F0;
}

html, body, .container {
    height: 100%;
}

.brand-logo {
    margin-left: 5vw;
}

.nav-wrapper {
    background-color: #F33535;
}

nav {
    height: 4.3em;
}

.section-header {
    margin: 50px 0px 50px 0px;
}

.landing-container {
    margin-top: 15vh;
    height: 50vh;
    text-align: center;
    margin-left: -10vw;
    margin-right: -10vw;
}

#landing-name {
    font-family: josefin slab;
    font-size: 7em;
    font-weight: bold;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  margin-top: 4.3em;
}

.about div:nth-child(2) {
    margin-top: 2em;
}

.about p {
    font-size: 1.3em;
}

.card-title {
    font-size: 2.3em !important;
}
.img-icon {
    height: 2em;
    width: 2em;
    margin: 0.5em;
}
.icon-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}