@{ 
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="section-header center-align">About me</h3>
<div class="card about">
    <div class="card-content">
        <div>
            <p>
                Recently I made a transition into web development by attending a coding bootcamp in Portland, OR called Epicodus. While attending Epicodus I have realized that programming is a true passion of mine. I am familiar working with both front and back-end technologies, and numerous frameworks and languages such as: C#/.NET, NancyFx, ES6+ JavaScript, Angular and multiple database management systems.
            </p>
        </div>
        <div>
            <p>
                A sampling of my projects can be found in the <a href="/Projects/Index">"Projects"</a> section, along with links to their GitHub repository and deployed site (if available).
            </p>
        </div>
        <div class="icon-links">
            <a target="_blank" href="https://www.linkedin.com/in/joshuafairchild1/"><img class="img-icon" src="~/images/linkedin.png" /></a>

            <a target="_blank" href="https://twitter.com/senorfairchild"><img class="img-icon" src="~/images/twitter.png" /></a>

            <a target="_blank" href="https://github.com/joshuafairchild1"><img class="img-icon" src="~/images/gh.png" /></a>
        </div>
    </div>
</div>